body {
  margin: 0 auto;
  text-align: center;
  margin: 30px;

  font-family: "Comfortaa", cursive;
}

h1 {
  text-align: center;
  font-size: 28px;
  color: #393e46;
  font-weight: 600;
  text-transform: capitalize;
}

h2 {
  text-align: center;
  font-size: 24px;
  color: #393e46;
  font-weight: 300;
}

hr {
  margin-top: 0;
  margin-bottom: 10px;
}

button {
  margin: 5px 0;
}
a {
  color: #9c9fa3;
  font-weight: 300;
  text-decoration: none;
}
.container {
  max-width: 500px;
  border: 2px solid #d3d6db;
  border-radius: 6px;
  padding: 20px;
  margin-top: 50px;
}
.current-weather {
  font-size: 20px;
  color: #393e46;
}

.main-icon {
  width: 40px;
  height: 40px;
}

.current-conditions {
  font-size: 16px;
  padding-top: 10px;
  margin-bottom: 0;
  color: #393e46;
}

.current-conditions-value {
  font-size: 14px;
}

.week-days {
  font-size: 16px;
  color: #5c636e;
  font-weight: 500;
}

.days-forecast-icon {
  margin: 5px;
}

.temperature {
  font-size: 15px;
  color: #5c636e;
  font-weight: 300;
  padding: 10px 0;
}

.active {
  cursor: default;
  color: #393e46;
}
.active:hover {
  color: #393e46;
  cursor: default;
  text-decoration: none;
}

.link-to-github {
  display: block;
  color: #393e46;
  font-size: 13px;
  margin-bottom: 5px;
}
